nav{
    background-color:black;
    color: white;
    padding: 15px;
}
body {
    background-image: url("pexels-eberhard-grossgasteiger-1612353.jpg");
    background-size: cover;
    background-position: center;
    height: 40vh;
}
  

li,h3,ul{
    display: inline;
}
ul{
    margin-left: 65% ;
    
}
li{
    color: grey;
    cursor: pointer;
    
}
li:hover{
    color: white;
    text-decoration: underline;
}

h3{
    color: aqua;
    cursor: pointer;
}
h3:hover{
    color:white;
}
h1 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    text-align: center;
    padding: 20px;
    font-size: 80px;
  }
p{
   padding: 10px;
    text-align: center;
    font-size: 25px;
    color: white;
}
#rcorners2 {
    border-radius: 25px;
    background: green;
    padding: 20px; 
    width: 150px;
    height: 25px;
    margin: 100%-10; 
    cursor: pointer;    
  }
  #rcorners2:hover{
    color:black;

  }
.two{
    background-image:url("images (4).jpeg") ;
    display: inline-block;
    height: 160px;
    width: 220px;
    margin-right: 30px;
    border-radius: 10px;
  
}
  .three{
    background-image:url("images (2).jpeg") ;
    display: inline-block;
    height: 160px;
    width: 220px;
    margin-right: 30px; 
    border-radius: 10px;
  }

  .four{
    background-image:url("images (1).jpeg") ;
    display: inline-block;
    height: 160px;
    width: 220px;
    margin-right: 30px;
    border-radius: 10px;
    }
    .about {
        padding: 50px 20px;
        background-color: grey;
        text-align: center;
    }
    .Contact {
        padding: 50px 20px;
        text-align: center;
        color: white;
        background-image: url("geranimo-qzgN45hseN0-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
      
    }
      h2{
        border-radius: 25px;
    background: green;
    padding: 20px; 
    width: 150px;
    height: 25px;
    margin: 100%-10; 

    cursor: pointer;
      }
      h2:hover{
        color:yellow;
      }
      button {
        width: 15%;
        padding: 10px;
        background-color: green;
        color:white;
        border: 30%;
        border-radius: 5px;
        cursor: pointer;
      
      }
      button:hover {
        background-color: green;
      }
      footer {
        text-align: center;
        padding: 20px;
        background-color:white;
      }

      input{
        width: 300px;
        height: 30px;
        border: 1px solid rgba(128, 128, 128, 0.482);
        border-radius: 10px;
        box-shadow: 3px 3px 7px white;
       font-size: medium;
      }
      textarea{
        width: 300px;
        height: 30px;
        border: 1px solid rgba(128, 128, 128, 0.482);
        border-radius: 10px;
        box-shadow: 3px 3px 7px white;

      }
      label{
        font-size: x-large;
      }
      .Blog{
        font-family: 'Times New Roman', Times, serif;
        font-size: x-large;
        
        color:white;
        padding: 50px 20px;
        text-align: center;
        background-image: url("valley-landscape-aesthetic-mountains-gradient-background-6318x2633-4589.jpg");
        background-size: cover;
        background-position: center;
        height: 150vh;
        
      }
      
      
     
      
    

   
    
 
 
  

